[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
d20 = "*"
dill = "*"
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
discord-ext-slash = "==0.5.0"
"discord.py" = "*"
dnspython = "*"
PyYAML = "*"
motor = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
