[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[packages]
d20 = "*"
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus", ref = "4429b564fd8f031deaccd60caa5be7320e248816"}
discord-ext-slash = "==0.5.0"
"discord.py" = "*"
dnspython = "*"
pymongo = "*"
PyYAML = "*"

[requires]
python_version = "3.9"
