aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.5.3"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.5.3"
attrs==20.3.0; python_version >= "3.6" and python_full_version >= "3.5.3"
cachetools==4.2.1; python_version >= "3.6" and python_version < "4.0"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.5.3"
d20==1.1.0; python_version >= "3.6"
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@master ; python_full_version >= "3.5.3"
discord-ext-slash==0.5.1; python_version >= "3.7"
discord.py==1.7.1; python_full_version >= "3.5.3"
dnspython==2.1.0; python_version >= "3.6"
idna==3.1; python_version >= "3.6" and python_full_version >= "3.5.3"
lark-parser==0.9.0; python_version >= "3.6"
motor==2.4.0; python_full_version >= "3.5.2"
multidict==5.1.0; python_version >= "3.6" and python_full_version >= "3.5.3"
numpy==1.20.2; python_version >= "3.7"
pymongo==3.11.3; python_full_version >= "3.5.2"
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
setproctitle==1.2.2; python_version >= "3.6"
shapely==1.7.1
typing-extensions==3.7.4.3; python_version >= "3.6" and python_full_version >= "3.5.3"
yarl==1.6.3; python_version >= "3.6" and python_full_version >= "3.5.3"
